ONE HOT ENCODING

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
#Lets' create a data frame
df = pd.DataFrame({'color':['Red','Blue','Green','Yellow']})

In [5]:
df.head()

    color
0     Red
1    Blue
2   Green
3  Yellow

In [6]:
encoder = OneHotEncoder()

In [11]:
#perform fit and transform 

encoded = encoder.fit_transform(df[['color']]).toarray()

In [12]:
encoded

array([[0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.]])

In [13]:
encoderDf = pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [14]:
encoderDf

   color_Blue  color_Green  color_Red  color_Yellow
0         0.0          0.0        1.0           0.0
1         1.0          0.0        0.0           0.0
2         0.0          1.0        0.0           0.0
3         0.0          0.0        0.0           1.0