#There is basically two techniques to handle imbalanced dataset

1. UP Sampling 
2. DOWN Sampling

In [7]:
import numpy as np
import pandas as pd  # Importing necessary libraries

# setting the random seed for reproducibility
np.random.seed(123)

# create a dataframe with two classes
n_Samples = 1000         # Total number of samples in the dataset
calss_0_ratio = 0.9      # Ratio of samples belonging to class 0 (90%)
n_class_0 = int(n_Samples * calss_0_ratio)  # Calculate the number of samples for class 0 (90% of 1000)
n_class_1 = n_Samples - n_class_0  # Calculate the remaining number of samples for class 1 (10% of 1000)

In [8]:
n_class_0 , n_class_1

(900, 100)

In [12]:
# Creating a DataFrame for Class 0
class_0 = pd.DataFrame({
    'feature1': np.random.normal(loc=0, scale=1, size=n_class_0),  # Generate 'feature1' with a normal distribution (mean=0, std=1)
    'feature2': np.random.normal(loc=0, scale=1, size=n_class_0),  # Generate 'feature2' with a normal distribution (mean=0, std=1)
    'target': [0] * n_class_0  # Create a 'target' column with all values set to 0 for class 0
})

# Creating a DataFrame for Class 1
class_1 = pd.DataFrame({
    'feature1': np.random.normal(loc=2, scale=1, size=n_class_1),  # Generate 'feature1' with a normal distribution (mean=2, std=1)
    'feature2': np.random.normal(loc=2, scale=1, size=n_class_1),  # Generate 'feature2' with a normal distribution (mean=2, std=1)
    'target': [1] * n_class_1  # Create a 'target' column with all values set to 1 for class 1
})

In [15]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [16]:
df.head()

   feature1  feature2  target
0 -0.650884  1.375188       0
1  2.079573  0.524683       0
2  1.445297  0.230819       0
3 -0.668054  0.127475       0
4 -0.581201 -1.441303       0

In [17]:
df.tail()

     feature1  feature2  target
995  4.186897 -0.052874       1
996  2.438099  2.658482       1
997  2.128568  2.096702       1
998  2.947591  1.964598       1
999  1.813965  3.369347       1

In [18]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64