In [2]:
from sklearn.datasets import make_classification

In [3]:
X,y = make_classification(n_samples= 1000, n_redundant=0,n_features=2,n_clusters_per_class=1, weights=[0.90],random_state=12)

In [4]:
import pandas as pd

In [6]:
df1 = pd.DataFrame(X,columns=['F1','F2'])
df2 = pd.DataFrame(y,columns=['Target'])
finalDf = pd.concat([df1,df2], axis=1)

In [7]:
finalDf

           F1        F2  Target
0   -0.762898 -0.706808       0
1   -1.075436 -1.051162       0
2   -0.610115 -0.909802       0
3   -2.023284 -0.428945       1
4   -0.812921 -1.316206       0
..        ...       ...     ...
995 -0.712495 -0.880452       0
996 -2.625830 -2.827891       0
997 -1.326439 -1.815178       0
998 -0.833486 -0.514647       0
999 -0.302876 -0.575975       0

[1000 rows x 3 columns]

In [8]:
finalDf['Target'].value_counts()

Target
0    900
1    100
Name: count, dtype: int64